.page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
}

main {  
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
}